.container {
  display: grid;
  height: 100vh;
  place-items: center;
}

.main {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.innerHome {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100%;
}

.title {
  color: #0099ff;
  font-weight: 800;
  margin-bottom: 16px;
}
.subtitle {
  font-size: 22px;
  color: #1c5480;
  margin: 0;
  text-align: center;
}
.buttonContainer {
  margin-top: 16px;
}
@media (min-width: 500px) {
  .main {
    width: 450px;
    height: 90vh;
  }
}
